@define-color bg #0d0a0e;
@define-color fg #ebe7ee;
@define-color gray1 #ab6acd;
@define-color gray2 #7a5c8a;
@define-color gray3 #a557ce;
@define-color gray4 #b07acc;
@define-color gray5 #ac77c8;
@define-color fg_bright #ebe7ee;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}